/* Main toolbars */
div.toolbar-list {
    position: absolute;
    top: 0px;
    right: 14px;
    padding: 0;
}

div.toolbar-list ul {
    margin: 0;
    padding: 0;
}

div.toolbar-list li {
    padding: 1px 1px 3px 4px;
    text-align: center;
    color: #666;
    height: 48px;
    list-style: none;
    float: left;
}

div.toolbar-list li.spacer {
    width: 10px;
}

div.toolbar-list li.divider {
    border-right: 1px solid #c7c7c7;
    width: 2px;
}

div.toolbar-list span {
    float: none;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    display: block;
}

div.toolbar-list a {
    display: block;
    float: left;
    white-space: nowrap;
    border: 1px solid #F4F4F4;
    padding: 1px 5px;
    cursor: pointer;
}

div.toolbar-list a:hover,
div.toolbar-list a:focus,
div.toolbar-list a:active {
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    color: #0B55C4;
}
.icon-32-unpublish					{	background-image: url(../image/icon-32-unpublish.png);	}
.icon-32-cancel						{	background-image: url(../image/icon-32-cancel.png);	}
.icon-32-save-new					{	background-image: url(../image/icon-32-save-new.png);	}
.icon-32-save						{	background-image: url(../image/icon-32-save.png);	}
.icon-32-apply						{	background-image: url(../image/icon-32-apply.png);	}
.icon-32-trash						{	background-image: url(../image/icon-32-trash.png);	}
.icon-32-checkin					{	background-image: url(../image/icon-32-checkin.png);	}
.icon-32-new						{	background-image: url("../image/icon-32-new.png");	}
.icon-32-publish					{	background-image: url(../image/icon-32-publish.png);	}
.jgrid span.unpublish				{   background-image: url(../image/publish_x.png); }
.jgrid span.publish					{   background-image: url(../image/tick.png); }
.jgrid .state                       {   width: 16px;  height: 16px;  display: block;  margin: 0 auto;}

/* ======================================= LIST ======================================= */
.list{
    position: relative;
}
.list .row{
    display: table;
    width: 100%;
    margin: 7px 0px;
    border: 1px solid #CCC;
    font: 13px Tahoma, Geneva, sans-serif;
    background-color: #fff;

}
.list .row1{
    background-color: #fddfdf !important;
}
.list .head{
    text-align: center;
    font-weight: bold;
}

.list .row .w-10, .list .row .action{
    width: 10%;
    text-align: center;
}

.list .row .action{
    border-right: none;
}


.list .row  a{
    text-decoration: none;
    color: #000;
}

.list .row  a:hover{
    text-decoration: underline;
}

.list .row > p{
    display: table-cell;
    vertical-align: middle;
    border-right: 1px solid #CCC;
    text-align: center;
    height: 30px;
}

#area-button{
    position: absolute;
    top: -38px;
    right: 0px;
}

#area-button a {
    display: inline-block;
    padding: 5px 10px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: #000;
    margin-left: 5px;
    background: #c9e7e3;
}

#area-button a:hover{
    background: #a7e7df;
}
